<script>
$(document).ready(function(){
    


    // zmienne
    var clickCount=0; // ilosc nacisniec
    var stage = 1; // aktualny stage
    var stagePassed = 1; // ilosc stage ktore przeszedles
    var clickDmg = 70; // aktualny click dmg
    var level = 1; // aktualny level na danym stage
    var maxLevel = 3; // ilosc leveli
    var gold = 1000000; // base gold 
    var maxhp = 100; // pierwsze hp mobka
    var current = maxhp; // aktualne hp
    var hpbar =  current/maxhp*100; // aktualny hp bar w %%
    var hpMultipler = 1.3; // huj wi cos wojtek napisal xd
    var baseCost=10; // mnoznik do ceny ulepszenia na klikanie x1 
    var priceMultipler = 1.1; // mnoznik do ceny ulepszenia na klikanie x2
    var goldUpgradesAmount = 10; // mnoznik do ceny ulepszenia na klikanie x3
    var actualPrice = baseCost*priceMultipler*goldUpgradesAmount; // aktuwalna cena ulepszenia
    const  numberOfUpgrades = {{ units.count }}; // liczba obecnych ulepszen


    // zrobiłem baze danych Units, / localhost:8000/admin   id- test  haslo- 123
    


    function multiplierPrice(x, y, z){
        var currentPrice = y;
        var final = 0;
        for(var i=1; i <= x; i++){
            final += currentPrice;
            currentPrice = currentPrice*z;
        }
        return final.toFixed(0);
    }; // jakbys sprawdzal to nie jest dokladne, bo liczy np . 143.2414124 sie mnoza o multiplier i wychodzi jakies gowno 
    // i jak sie to mnozy to sie psuje i wychodzi wiecej niz kosztuje standardowo
    // chyba ze masz jakis inny pomysl na to, to smialo 
    var cost10 = multiplierPrice(10, actualPrice, priceMultipler);
    var cost25 = multiplierPrice(25, actualPrice, priceMultipler);
    

    function refreshHTML(){
        $('#boughtUpgrades').text(goldUpgradesAmount);
        $('#goldPrice').text(actualPrice);
        $('#gold').text(gold.toFixed(0));
        $('#level').text(" "+level);
        $('#maxLevel').text(maxLevel);
        $('#stage').text(stage);
        $('#max_hp').text(maxhp.toFixed(0));
        $('.current_hp').text(current.toFixed(0));
        $('#clickDmg').text(clickDmg);
        $('.progress-bar').css('width', hpbar.toFixed(2)+'%');
        $('#clickCount').text(clickCount);
        $('#cost25').text(cost25);
        $('#cost10').text(cost10);

        if (stage == 1) {
            $('.back_arrow').css('overflow', 'hidden');
        }else{
            $('.back_arrow').css('overflow', 'visible');
        }
        if (stagePassed == stage) {
            $('.next_arrow').css('overflow', 'hidden');
        }else{
            $('.next_arrow').css('overflow', 'visible');
        }


    };
    refreshHTML();

    class Upgrade{
        constructor(nameId,nameOfUpgrade){
            this.nameId=nameId;
            this.nameOfUpgrade=nameOfUpgrade;
            this.baseDmg=1;
            this.boughtUpgrades=0;
            this.price=0;
            this.discountMultipler=0.0;
            this.priceMultipler=0.15;
           // $(this.nameId).click(this.buyUpgrade()); 
        }
        dealDmg(){
            current -= this.baseDmg*this.boughtUpgrades/10;
        }
        buyUpgrade(){
            if(gold >= this.price){
                gold -= this.price;
                this.boughtUpgrades++;
                console.log("Kupiłeś upgrade dla "+this.nameOfUpgrade+ " za " +this.price+ " golda!" );
                this.price = this.price + (this.price*this.priceMultipler)*this.boughtUpgrades;
            }
        }
        refreshPriceAndCount(){
            $(this.nameId+'_count').text(this.boughtUpgrades);
            $(this.nameId+'_cost').text(this.price.toFixed(0));
        }
      //  bindClick(){     
     //       $(this.nameId).click(this.buyUpgrade());
    //   }

    };

    {% for unit in units %}
    $('#upgrade{{ unit.unit_id }}').click(function(){upgradesButtonsArray[{{ unit.unit_id }}].buyUpgrade()});
    {% endfor %}

    setInterval(function(){ 
        for(var i = 0;i<numberOfUpgrades; i++){
            upgradesButtonsArray[i].dealDmg();
        }
        if (current <= 0) {
            level++;
            current = maxhp;
            hpbar =  current/maxhp*100;
            gold += 101;

        }

        if(level > maxLevel){
            if (stagePassed == stage){
            stage ++;
            stagePassed++;
            maxhp = maxhp*hpMultipler;
            current = maxhp;
            }
            level = 1;
        }
        hpbar =  current/maxhp*100;
        for(var i = 0;i<numberOfUpgrades;i++){
            upgradesButtonsArray[i].refreshPriceAndCount();
        }
        refreshHTML();

        }, 100);


    var upgradeNames = [];   // to do klasy Upgrade
    var baseUpgradePrices = [];  //  to do klasy Upgrade
    var upgradesButtonsArray = [];

    {% for unit in units %}
        upgradeNames.push('{{ unit.unit_name }}');
        baseUpgradePrices.push({{ unit.unit_default_cost }}); 
    {% endfor %}


    for(var i = 0;i<numberOfUpgrades;i++){
        upgradesButtonsArray[i]=new Upgrade( "#upgrade"+i , upgradeNames[i] );
        upgradesButtonsArray[i].price=baseUpgradePrices[i];
        //upgradesButtonsArray[i].bindClick();
    };

    //  ulepszanie podstawowego click powera
    $('#clickUpgrade').click(function(){
            if(gold>=actualPrice){
                gold -= actualPrice;
                clickDmg++;
                goldUpgradesAmount++;
                actualPrice=baseCost*priceMultipler*goldUpgradesAmount;
                cost10 = multiplierPrice(10, actualPrice, priceMultipler);
                cost25 = multiplierPrice(25, actualPrice, priceMultipler);
                console.log(upgradesButtonsArray[1].price);

            }
    });

        // zrobic funkcje klikania w Xy
    // $('#buy10').click(function(){
    //     if(gold>=cost10){

    //     }
    // });

    // $('#buy25').click(function(){
    //     if(gold>=cost25){
            
    //     }
    // });

    
    // zadawanie obrażen
    $('.click_area').click(function(){
        // funckja klikania
        clickCount++;
        current -= clickDmg;
        console.log("Zadałes "+clickDmg +"dmg");
    });


        // zmiana stage ++
    $('.next_arrow').click(function(){
        stage++;
        level = 1;
        refreshHTML();
    });
        // zmiana stage --
    $('.back_arrow').click(function(){
        if(stage > 1){
            stage--;
            console.log('xx');
        }
        level = 1;
        refreshHTML();
    });
    
        
});



    

</script>