<script>
$(document).ready(function(){
    


    // zmienne pomocnicze
    var o = -1;
    // zmienne
    var clickCount=0; // ilosc nacisniec
    var stage = 1; // aktualny stage
    var stagePassed = 1; // ilosc stage ktore przeszedles
    var clickDmg = 300; // aktualny click dmg
    var level = 1; // aktualny level na danym stage
    var maxLevel = 3; // ilosc leveli
    var gold = 1000000; // base gold 
    var maxhp = 10; // pierwsze hp mobka
    var current = maxhp; // aktualne hp
    var hpbar =  current/maxhp*100; // aktualny hp bar w %%
    var hpMultipler = 1.12; // huj wi cos wojtek napisal xd
    var baseCost=10; // mnoznik do ceny ulepszenia na klikanie x1 
    var priceMultipler = 1.1; // mnoznik do ceny ulepszenia na klikanie x2
    var goldUpgradesAmount = 10; // mnoznik do ceny ulepszenia na klikanie x3
    var actualPrice = baseCost*priceMultipler*goldUpgradesAmount; // aktuwalna cena ulepszenia
    const numberOfUpgrades = {{ units.count }}; // liczba obecnych ulepszen
    
    // zmienne wysp i mobków z bazy danych
    var islands = [];
    var islands_images = [];
    var islands_ends = [];

    var mobs = [];
    var mobs_images = [];
    var mobs_on_island_count = [];


    
    {% for island in islands %}
        islands.push('{{ island.island_name }}');
        islands_images.push('{{ island.island_image.url }}');
        islands_ends.push({{ island.ends }});
        {% for mob in island.units.all %}
        mobs.push('{{ mob.mob_name }}');
        mobs_images.push('{{ mob.mob_image.url }}');
        {% endfor %}
        mobs_on_island_count.push({{ island.units.count }});
    {% endfor %}
                                                                                                                    {% comment %} ) {% endcomment %}


    function multiplierPrice(x, y, z){
        var currentPrice = y;
        var final = 0;
        for(var i=1; i <= x; i++){
            final += currentPrice;
            currentPrice = currentPrice*z;
        }
        return final.toFixed(0);
    }; // jakbys sprawdzal to nie jest dokladne, bo liczy np . 143.2414124 sie mnoza o multiplier i wychodzi jakies gowno 
    // i jak sie to mnozy to sie psuje i wychodzi wiecej niz kosztuje standardowo
    // chyba ze masz jakis inny pomysl na to, to smialo 
    var cost10 = multiplierPrice(10, actualPrice, priceMultipler);
    var cost25 = multiplierPrice(25, actualPrice, priceMultipler);
       
       
       class Upgrade{
        constructor(nameId,nameOfUpgrade){
            this.nameId=nameId;
            this.nameOfUpgrade=nameOfUpgrade;
            this.baseDmg=0.5;
            this.boughtUpgrades=0;
            this.price=0;
            this.discountMultipler=1.0;
            this.priceMultipler=1.15;
           // $(this.nameId).click(this.buyUpgrade()); 
        }
        dealDmg(){
            current -= this.baseDmg*this.boughtUpgrades/10;
        }
        buyUpgrade(){
            if(gold >= (this.price*this.discountMultipler)){
                gold -= this.price*this.discountMultipler;
                this.boughtUpgrades++;
                console.log("Kupiłeś upgrade dla "+this.nameOfUpgrade+ " za " +this.price+ " golda!" );
                this.price = this.price*this.priceMultipler;
            }
        }
        refreshPriceAndCount(){
            $(this.nameId+'_count').text(this.boughtUpgrades);
            $(this.nameId+'_cost').text(this.price.toFixed(0));
        }
      //  bindClick(){     
     //       $(this.nameId).click(this.buyUpgrade());
    //   }

    };
       
        // juz nie trzeba tego usuwac aby zmienic kolorki :danych
            {% comment %} ) {% endcomment %}
        //
       
       
    var upgradeNames = [];   // to do klasy Upgrade
    var baseUpgradePrices = [];  //  to do klasy Upgrade
    var upgradesButtonsArray = [];

    {% for unit in units %}
        upgradeNames.push('{{ unit.unit_name }}');
        baseUpgradePrices.push({{ unit.unit_default_cost }}); 
    {% endfor %}
            

            // juz nie trzeba tego usuwac aby zmienic kolorki :danych
                {% comment %} ) {% endcomment %}
            //
    
    for(var i = 0;i<numberOfUpgrades;i++){
        upgradesButtonsArray[i]=new Upgrade( "#upgrade"+i , upgradeNames[i] );
        upgradesButtonsArray[i].price=baseUpgradePrices[i];
        //upgradesButtonsArray[i].bindClick();
    };


    // zmienne random dla moba
    var last_mobs = 0;
    var min = last_mobs;
    var max = last_mobs + mobs_on_island_count[o+1] - 1;
    var islands_count = {{ islands.count }};
    $('.island').css('background-image', 'url('+islands_images[o+1]+')');

    function refreshIsland(next){
        if(islands_count >= o){
            if(next == true){
                if(stage-1 == islands_ends[o+1] ){
                    o++;
                    last_mobs = max;
                    min = max+1;
                    max = max + mobs_on_island_count[o+1];
                };
            }else{
                if(stage == islands_ends[o] ){
                    if(stage == islands_ends[0]){
                    o = -1;
                    last_mobs = 0;
                    min = last_mobs;
                    max = last_mobs + mobs_on_island_count[o+1] - 1;
                    }else{
                    min = min - mobs_on_island_count[o];
                    max = max - mobs_on_island_count[o+1];
                    o--;
                    };};
                };
            };
            minV = Math.ceil(min);
            maxV = Math.floor(max);
            k = Math.floor(Math.random() * (max - min + 1)) + min;


            $('#mob_image').attr("src",  mobs_images[k] );
            $('#mob_name').text(mobs[k]);
            $('#level_name').text(islands[o+1]);
            $('.island').css('background-image', 'url('+islands_images[o+1]+')');
    };

    function refreshHTML(){
        $('#boughtUpgrades').text(goldUpgradesAmount);
        $('#goldPrice').text(actualPrice);
        $('#gold').text(gold.toFixed(0));
        $('#level').text(" "+level);
        $('#maxLevel').text(maxLevel);
        $('#stage').text(stage);
        $('#max_hp').text(maxhp.toFixed(0));
        $('.current_hp').text(current.toFixed(0));
        $('#clickDmg').text(clickDmg);
        $('.progress-bar').css('width', hpbar.toFixed(2)+'%');
        $('#clickCount').text(clickCount);
        $('#cost25').text(cost25);
        $('#cost10').text(cost10);
        
        var totalDmg = 0;
        var ALLdps = 0;
         
        for(var l = 0;l<numberOfUpgrades;l++){
        ALLdps = ALLdps + upgradesButtonsArray[l].baseDmg * upgradesButtonsArray[l].boughtUpgrades;
        }
        $('#dmg_s').text(ALLdps);

        if (stage == 1) {
            $('.back_arrow').css('overflow', 'hidden');
        }else{
            $('.back_arrow').css('overflow', 'visible');
        }
        if (stagePassed == stage) {
            $('.next_arrow').css('overflow', 'hidden');
        }else{
            $('.next_arrow').css('overflow', 'visible');
        }


    };
    refreshHTML();
    refreshIsland(true);

    

    {% for unit in units %}
    $('#upgrade{{ unit.unit_id }}').click(function(){upgradesButtonsArray[{{ unit.unit_id }}].buyUpgrade()});
    {% endfor %}

    setInterval(function(){ 
        for(var i = 0;i<numberOfUpgrades; i++){
            upgradesButtonsArray[i].dealDmg();
        }
        if (current <= 0) {
            level++;
            current = maxhp;
            hpbar =  current/maxhp*100;
            gold += 101 + 1.2*stage; // trza dodac mnoznik od stageow konkretny
            refreshIsland(true);

        }

        if(level > maxLevel){
            if (stagePassed == stage){
            stage ++;
            stagePassed++;
            maxhp = maxhp*(hpMultipler);
           // maxhp = maxhp + (stagePassed-1)*(maxhp*hpMultipler);
            current = maxhp;
            }
            refreshIsland(true);
            level = 1;
        }
        hpbar =  current/maxhp*100;
        for(var i = 0;i<numberOfUpgrades;i++){
            upgradesButtonsArray[i].refreshPriceAndCount();
        }
        refreshHTML();

        }, 100);




    //  ulepszanie podstawowego click powera
    $('#clickUpgrade').click(function(){
            if(gold>=actualPrice){
                gold -= actualPrice;
                clickDmg++;
                goldUpgradesAmount++;
                actualPrice=baseCost*priceMultipler*goldUpgradesAmount;
                cost10 = multiplierPrice(10, actualPrice, priceMultipler);
                cost25 = multiplierPrice(25, actualPrice, priceMultipler);
                console.log(upgradesButtonsArray[1].price);

            }
    });

        // zrobic funkcje klikania w Xy
    // $('#buy10').click(function(){
    //     if(gold>=cost10){

    //     }
    // });

    // $('#buy25').click(function(){
    //     if(gold>=cost25){
            
    //     }
    // });

    
    // zadawanie obrażen
    $('.click_area').click(function(){
        // funckja klikania
        clickCount++;
        current -= clickDmg;
    });


        // zmiana stage ++
    $('.next_arrow').click(function(){
        stage++;
        level = 1;
        refreshIsland(true);
        refreshHTML();

    });
        // zmiana stage --
    $('.back_arrow').click(function(){

        if(stage > 1){
            stage--;
        }
        level = 1;
        refreshIsland(false);
        refreshHTML();
    });
    
        
});



    

</script>