{% extends 'extends/base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
<style>
.island{

    background-repeat:no-repeat;
    background-position:60% 100%;
    background-size:500px;
    z-index:1;
}


</style>
<div class="container-fluid" style="max-height:100vh; max-width: 100vw; margin:0; padding:0; min-height: 100vh; min-width: 100vw; height: 100vh; width: 100vw;">
{% include 'includes/menu.html' %}
    <div class="col-sm-12 main_view" style="height: 80vh;">
        <div class="row" style="height: 90%; padding-top:5%;">
            <div class="col-sm-4" style="height:100%;">
                <div class="text-white back_arrow" style="font-size:40px; position: relative; z-index:1;">
                    <i class="fas fa-arrow-left" style="position:absolute; right:0;" id="back"></i>
                </div>
                <div style="position: relative;">
                <button class="btn btn-dark border" id="clickUpgrade" >
                    <span style="color:gold;">
                        <i class="fas fa-mouse-pointer"></i>
                    </span> Click Power<br />
                <span class="text-center">
                    Cost: <span class="text-warning"><i class="fas fa-coins"></i></span>
                    <span id="goldPrice"></span><br />
                    Count: <i class="fas fa-box-open"></i> <span id="boughtUpgrades"></span>
                </span>
                </button>
                <button class="btn btn-dark border" id="buy10" style="position: absolute; top:0; height: 50%; font-size: 12px; padding:1% 1%; min-width: 100px;"> Buy x10<br/>cost: <span id="cost10"></span>
                    <span class="text-warning"><i class="fas fa-coins"></i></span>
                </button>
                <button class="btn btn-dark border" id="buy25" style="position: absolute; bottom:0; height: 50%; font-size: 12px; padding:1% 1%; min-width: 100px;">Buy x25<br/>cost: <span id="cost25"></span>
                    <span class="text-warning"><i class="fas fa-coins"></i></span>
                </button>
                </div>
                <br />
                <div class="scrollbar" style="position: relative; overflow-y:auto; height:100%; width:50%; ">
                    {% for unit  in units %}
                <button class="btn btn-dark border" id="upgrade{{ unit.unit_id }}" style="width: 100%;" hidden id="unit1">
                    <span id="upgrade{{ unit.unit_id }}_name" >
                        {{ unit.unit_name|capfirst }}
                    </span>
                    <div style="position: relative; left:50%; transform: translateX(-50%);">
                    Cost:
                    <span id="upgrade{{ unit.unit_id }}_cost" >
                        {{ unit.unit_default_cost }}
                    </span>
                    <span class="text-warning border-right p-1" ><i class="fas fa-coins"></i></span> 
                    Count:
                    <span id="upgrade{{ unit.unit_id }}_count" >
                        {{ unit.unit_count }}
                    </span>
                    <span> <i class="fas fa-box-open"></i> </span>
                    </div>
                </button><br />
                    {% endfor %}<br /><br /><br />
                </div>
                </div>
            <div class="col-sm-4" style="padding:0; height: 100%; position: relative;">
                <div style="position: relative; top:0; height: 500px;">

                    <img class="mob" id="mob_image" src="" /> 

                </div>
        <div class="island" style="z-index:1; position: absolute; bottom:0; height: 400px; width: 100%; ;" >
            
            <div class="progress hp-bar" style="position: relative; top: 25%;" >  
                <div class="progress-bar" style="background-color: rgb(55, 0, 87);" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    <div style="position: absolute; left:50%;transform: translateX(-50%); ">
                        <span class="current_hp"></span>
                        /
                        <span id="max_hp"></span></div>
                    </div>
                </div>
            </div>
            <div class="text-center text-light text" id="level_level" style="font-size: 40px; position: relative;" >
            
            <span style="font-size: 15px;">Stage:</span> <span id="stage" style="font-size: 15px;"></span><br />
            <span id="level_name">Level:</span> :<span id="level"></span> / 
            <span id="maxLevel"></span>
            
            </div>
            <div class="text-center text-light text" id="mob_name" style="font-size: 25px; position: relative;" >Slime</div>
            <div class="text-center text-light text" id="boss_time" style="font-size: 25px; position: relative;" hidden >0.00</div>
        </div>
            <div class="col-sm-4">
            <div class="text-white next_arrow" style="font-size:40px; position: relative; z-index:1;">
                <i class="fas fa-arrow-right" id="next" style="position:absolute; left:0;"></i>
            </div>
            <div class="text-light text-center"> 
                <h3> Stats </h3> 

                <table class="table table-borderless table-dark border" style="position: relative; left: 50%; transform: translateX(-50%); width:50%; ">
                    <tbody>
                      <tr>
                        <td colspan="2" class="border" style="font-size:25px;">
                            <div class="text-light" >
                            Gold: <span id="gold"></span> <span class="text-warning"><i class="fas fa-coins"></i></span>
                            </div>
                        </td>
                      </tr>
                      <tr>
                        <td>ClickDMG:</td>
                        <td id="clickDmg" class="border border-left;"></td>
                      </tr>
                      <tr>
                        <td>Dmg per/s:</td>
                        <td id="dmg_s" class="border border-left;"></td>
                      </tr>
                      <tr>
                        <td>Click Count:</td>
                        <td id="clickCount" class="border border-left;"></td>
                      </tr>
                    </tbody>
                  </table>

            </div>
            </div>
            <div class="col-sm-12 text-light" style="padding:0;">
                <span class="text-white" id="test" ></span>
            </div>
        </div>
    </div>
</div>
<div class="click_area" ></div>



{% endblock content %}





